html {
    background-color:#343434 ;
    margin: 0;
    padding: 0; 
}

.wrapper {
    background-color:#343434 ;
    margin: 0;
    margin-top: 0;   
}


h1 {
   color: white;
   font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 48px;
   font-weight: 1100; 
}

h2 {
   color: #ffffff;
   font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
   font-size: 25px;
   font-weight: 350;
   margin-top: -30px;
} 

h3 {
   color: white;
   font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
   font-size: 20px;
   font-weight: 400;  
}

h4 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: red;
    flex: 1;
    padding: 2px;
    font-size: 40px;
    font-weight: 1100;
    margin: 5px;
}

p {
   color: #fff;
   font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
} 

 .logo {
     position: relative;
     background-color: transparent;
     z-index: 2;
     margin-top: 40px;
     margin-left: 30px;
 }

.first_page {
    display: flex;  
}

/* .wrapper1 {
    background-image: /*radial-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),  */ /*
    url("https://assets.nflxext.com/ffe/siteui/vlv3/3b48f428-24ed-4692-bb04-bc7771854131/087be50f-41d9-44bb-842b-8ddb05e1d4da/US-en-20200302-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: center;
    height: 650px;
} */
/* .wrapper1::before{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/3b48f428-24ed-4692-bb04-bc7771854131/087be50f-41d9-44bb-842b-8ddb05e1d4da/US-en-20200302-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: center;
    height: 650px;
    opacity: 0.5;  
} */

.wrapper1{
    background-image: radial-gradient(transparent, black), url("https://assets.nflxext.com/ffe/siteui/vlv3/3b48f428-24ed-4692-bb04-bc7771854131/087be50f-41d9-44bb-842b-8ddb05e1d4da/US-en-20200302-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: center;
    height: 650px; 
    position: relative; 
}

.header {
    display: flex;
    justify-content: space-around;   
}

.sign_in {
    margin-top: 40px;
    margin-left: 900px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial,
}

.btn {
    color: white;
    background: red;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
  }

  .email {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    align-items: center; 
}

.field-error {
    color: rgb(243, 141, 9);
    margin-left: -610px;
}

form {
    width: 100%;
    height: 50px;
}

form input {
    margin-right: -4px;
    border: none;
    width: 410px;
    height: 57px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


form input[type="Email address"] {
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: red;
    padding-left: 10px;
    border: 2 px solid red;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px;
    width: 320px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transition: all0 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
  }

 .about {
     text-align: center;
     margin: 0 auto;
 } 
  
 .top-half {
    background-color: black;
    height: 420px;
    padding: 2px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    display:flex;
    width: 100%;
    position: relative;
    z-index: 1;
 }

 .right_i {
    float: right;
    clear: right;
    overflow: auto;
    padding-right: 1px;
    margin-right: 10px;
    width: 100%;
    max-width: 600px;
 }

 #right_image {
     height: auto;;
     max-width: 100%;
     position: relative;
     z-index: 3;
     margin-top: -50px;
 }

 #video {
     width: 50%;
     margin-top: -85px;
     position: absolute;
     z-index: 2;
     margin-top: -362px;
    margin-left: 87px;
 }
 
 .second_page {
    display: flex;;
}

 .bottom-half {
    background-color: black;
    height: 450px;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 1;
 }

 .left_text{
    float: left;
    clear: left;
    overflow: auto;
    padding-right: 1px;
    margin-left: 130px;
    margin-right: 250px;
 } 

 .right_text{
    float: right;
    clear: left;
    overflow: auto;
    padding-right: 1px;
    margin-right: 130px;
    margin-top: -330px;
 }

 .left_i {
    float: left;
    clear: right;
    overflow: auto;
    padding-right: 1px;
    margin-left: 100px;
    margin-top: 50px;
    
 }

 #left_image {
    height: 360px;
    max-width: 640px;
    position: relative;
    z-index: 1;
 }

 .strange_animation {
     background-color:black;;
     border: solid 2px;
     border-radius: 7px;
     border-color: grey;
     height: 100px ;
     width: 320px;
     display: flex;
     position: absolute;
     z-index: 2;
     margin-left: 70px;
     margin-top: -120px;
     
 }

 #strange_things_image {
     flex: 1;
     max-height: 67px;
     max-width: 52px;
     margin-left: 20px;
     margin-top: 20px;
     margin-right: 5px;
     margin-bottom: 5px;
     
 }
  #text_ST {
      flex: 2;
      margin-top: 30px;
      margin-left: 15px;
  }


#down1 {
    flex: 3;
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    margin-left: -58px;
    margin-top: 30px;

}

p1 {
    color:blue;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
    font-size: 15px;
}

p2 {
    color: white;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 18px;
}

